</main>
<!-- <script type="module" src="../public/js/create-products/main-crud.js"></script> -->
<!-- <script src="../public/js/admin/signin.js"></script> -->
<script src="../../../public/main.js" type="module"></script>
<!-- <script src="../public/js/admin/logout.js"></script> -->
</body>

</html>