<%- include('templates/adminHeader', {tittle: 'admin dashboard', css: '<link rel="stylesheet" href="../public/css/admin.css">'}) %>

  <main class="main">
    <% if(!user) { %>
      <form action="../api/auth/sign-in" method="POST" class="container mt-5 ">
        <div class="align-items-center container-sm fs-5">
          <div class="form-floating mb-2">
            <input name="username" type="text" class="form-control " id="floatingUsername" placeholder="Username">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label " for="flexSwitchCheckDefault">Recordarme</label>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-warning" type="submit">Iniciar sesión</button>
          </div>
        </div>
      </form>
      <div class="forget-container">
        <p class="p forget__p">Olvidaste tus datos? <a class="a forget__a">Haz click aquí</a></p>
      </div>
      <% }else {%>
        <div class="main__options-container">
          <div class="main__option">
            <p class="p option__p">Actualizar la carta</p>
            <a href="admin/create-products" class="a option__btn btn-warning">Click aquí</a>
          </div>
          <div class="main__option">
            <p class="p option__p">Crear nuevos usuarios</p>
            <a href="/admin/create-users" class="a option__btn btn-warning">Click aquí</a>
          </div>
          <div class="main__option">
            <p class="p option__p">Ir a la pagina de Mamaq</p>
            <a href="/" class="a option__btn btn-warning">Click aquí</a>
          </div>
        </div>
        <% } %>
         
  </main>
  </body>

  </html>