<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/create-products.css">
    <title>crear productos</title>
</head>

<body>
    <main class="main">
        <section class="create-item-section">
            <form class="create-item__form" id="createForm">
                <label class="form__label" for="name">Nombre
                    <input class="form__input" type="text" id="name" name="name" required>
                </label>
                <label class="form__label" for="price">Precio
                    <input class="form__input" type="number" id="price" name="price" required>
                </label>
                <label class="form__label" for="category">Categoria
                    <select name="category" class="form__input">
                        <option class="form__input">Vegetariano</option>
                        <option class="form__input">Vegano</option>
                        <option class="form__input">Carnivoro</option>
                    </select>
                </label>
                <label class="form__label" for="description">Descripcion
                    <input class="form__input" type="text" id="description" name="description" required>
                </label>
                <label class="form__label" for="createProductImg">Imagen
                    <input class="form__input" type="file" name="createProductImg" id="product-image" >
                </label>
                <input class="form__input form__input--submit" type="submit" value="Crear item">
            </form>
        </section>
        <section id="list-item-section" class="list-item-section">
            <h2 class="h2 items__h2">Productos</h2>
            <table class="items-table">
                <thead>
                    <tr class="items__tr">
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th>Descripcion</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>
    </main>
    <template id="items-template">
        <table class="item-tr-fetch">
            <tr class="item-tr__span">
                <th class="tr-fetch__th">nombre</th>
                <td class="item-name"></td>
            </tr>
            <tr class="item-tr__span">
                <th class="tr-fetch__th">Precio</th>
                <td class="item-price"></td>
            </tr>
            <tr class="item-tr__span">
                <th class="tr-fetch__th">Categoria</th>
                <td class="item-category"></td>
            </tr>
            <tr class="item-tr__span item-tr__span--description">
                <th class="tr-fetch__th">Descripcion</th>
                <td class="item-description"></td>
            </tr>
            <tr class="item-tr__span item-tr__span--imagen">
                <th class="tr-fetch__th">Imagen</th>
                <td class="item-image"></td>
            </tr>
            <tr class="item-tr__span">
                <th class="tr-fetch__th">Acciones</th>
                <td class="td-btn">
                    <button class="btn item-tr__btn edit-btn">Editar</button>
                    <button class="btn item-tr__btn delete-btn">Eliminar</button>
                </td>
            </tr>
        </table>
    </template>
    <script type="module" src="../public/js/create-products/main-crud.js"></script>
</body>

</html>
