<%- include('templates/head', {tittle: 'Mamaq café', css: '<link rel="stylesheet" href="../../public/css/inicio.css"> <link rel="stylesheet" href="../../public/css/inicio_MQ.css">'}) %>
        <section id="inicio" class="slider-section">
            <!--         SLIDER               -->
            <div class="slides-container">
                <div class="slide slide-active slide-one">
                    <img class="slide__img" src="../public/assets/WEB-MAMAQ_BANNER-1.jpg">
                    <a href="https://wa.me/51989070874" rel="noopener" target="_blank" class="a slide__btn slide__btn-one">Vía whatsapp</a>
                </div>
                <div class="slide slide-two">
                    <img class="slide__img" src="../public/assets/header1_mamaq.jpg">
                    <a href="/reservas" class="a slide__btn slide__btn-two">Reserva aquí!</a>
                </div>
                <div class="slide slide-three">
                    <img class="slide__img" src="../public/assets/WEB-MAMAQ_BANNER-2.jpg">
                </div>
                <div class="slide-btn-arrow-container">
                    <button id="slideArrowLBtn" class="slide-arrow-btn fa fa-angle-left"></button>
                    <button id="slideArrowRBtn" class="slide-arrow-btn fa fa-angle-right"></button>
                </div>
            </div>
            <!--             OPTIONS           -->
            <div class="home-options-container">
                <figure class="home-options-figure">
                    <img class="home-options__img home-options__img-one" src="../public/assets/WEB-MAMAQ_BOX-1.jpg">
                    <a class="a btn home-options__btn home-options__a" href="https://wa.me/51989070874" rel="noopener" target="_blank">Pide vía whatsapp</a>
                </figure>
                <figure class="home-options-figure">
                    <img class="home-options__img home-options__img-two" src="../public/assets/mamaq-reserva.jpg">
                    <a class="a home-options__a" href="/reservas">Reserva aquí!</a>
                </figure>
                <figure class="home-options-figure">
                    <img class="home-options__img home-options__img-three" src="../public/assets/WEB-MAMAQ_BOX-2.jpg">
                    <a href="/carta" class="a home-options__a option-menu-three">La carta!</a>
                </figure>
            </div>
        </section>
        <!--       NUESTRA PROPUESTA         -->
        <section id="nuestra-propuesta" class="propuesta-section">
            <div class="propuesta-container ">
                <div class="propuesta-tittle">
                    <h3 class="h3 propuesta-tittle__h3 propuesta-tittle__h3--green">Corazón Verde</h3><br>
                    <h3 class="h3 propuesta-tittle__h3">nuestra propuesta</h3>
                </div>
                <div class="propuesta__img-video-container">
                    <div class="propuesta__img-container">
                        <img class="propuesta__img" src="../public/assets/pirqa_sandwich-1.jpg" alt="sandwich pirqa">
                        <img class="propuesta__img" src="../public/assets/veggie_clasica.jpg"
                            alt="hamburguesa veggie clasica">
                        <img class="propuesta__img" src="../public/assets/salteados.jpg" alt="tequeños salteados">
                        <img class="propuesta__img" src="../public/assets/solterito_dequinua.jpg"
                            alt="ensalada 'solterito de quinua'">
                    </div>
                    <div class="propuesta__video-container">
                        <iframe class="propuesta__video" src="https://www.youtube.com/embed/VkG4Nj-sbm4?controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- IMG BAR -->
        <section class="img-bar">
            <img class="img-bar__img" src="../public/assets/WEB-MAMAQ-ecofriendly.png" alt="">
            <img class="img-bar__img" src="../public/assets/WEB-MAMAQ-artesanal.png" alt="">
            <img class="img-bar__img" src="../public/assets/WEB-MAMAQ-homemade.png" alt="">
            <img class="img-bar__img" src="../public/assets/WEB-MAMAQ-petfriendly.png" alt="">
        </section>
        <!-- BANNER DE RESERVA -->
        <section class="reserva-banner">
            <img class="reserva-banner__img" src="../public/assets/home-reservas.jpg" alt="">
            <div class="reserva-banner__info">
                <h3 class="reserva-banner__h3">¡HAZ TU RESERVA!</h3>
                <p class="reserva-banner__p">Recuerda que nuestro aforo es limitado</p>
                <a class="a btn reserva-banner__a"" href=" /reservas">¡Reserva aquí!</a>
            </div>
        </section>
        <section class="contacto" id="contacto">
            <form class="contacto__form" action="https://formsubmit.co/1c464ac09b5f604abd063e04aaa3d2d5" method="POST">
                <span class="contacto__span">¡Hola!</span>
                <h3 class="h3 contacto__h3">Escríbenos y te responderemos lo antes posible 😉</h3>
                <input class="contacto__input contacto__input--placeholder" name="name" type="text" placeholder="Nombre" required>
                <input class="contacto__input contacto__input--placeholder" name="subject" type="text" placeholder="Asunto" required>
                <input class="contacto__input contacto__input--placeholder" name="email" type="email" placeholder="Email" required>
                <textarea class="contacto__input--placeholder contacto__input--textarea" placeholder="Mensaje" name="message" rows="8"
                    required></textarea>
                <input class="contacto__submit" type="submit" value="Enviar">
                <input type = "hidden" name = "_subject" value = "¡Nuevo envío!"><input type="hidden" name="_captcha" value="false">
                <input type="text" name="_honey" style="display:none">
                <input type="hidden" name="_next" value="<%= process.env.NODE_ENV === "production" ? `${ herokuUri }/#contacto` : "http://localhost:3001/#contacto" %>">
            </form>
        </section>
        <%- include('templates/footer') %>