<%- include('templates/head', {tittle: 'Login' , css: '<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"><link rel="stylesheet" href="../../public/css/components/loginout.css">' }) %>
<% if(!user){ %> 
<%- include ('templates/components/loginout') %> 
<% }else { %> 
<p>Hola <%= user.username %> ya estas logeado </p>
<% } %> 
<%- include ('templates/footer') %>  