<%- include('templates/head', {tittle: 'La carta'}) %>
    <h1>La Carta</h1>
    <div id="cartaContainer"></div>
    <template id="cartaTemplate" class="template">
        <div class="template-div">
            <h3 class="template-product"></h3>
            <p class="template-description"></p>
            <p class="template-category"></p>
            <p class="template-price"></p>
        </div> 
    </template>
    <script type="module" src="../public/js/main.js"></script>
    <%- include('templates/footer') %>
