<footer class="footer">
    <div class="footer__redes"><p class="footer-mensaje-p">Comparte con nosotros a través de nuestras redes, usa el #mamaqecocafe o etiquétanos</p>
        <div class="footer__redes-img"><img class="nav__img" src="../public/assets/facebook.png" alt=""> <img class="img-nav" src="/assets/instagram.png" alt=""> <img class="img-nav" src="/assets/whatsapp.png" alt=""></div>
    </div>
    <div class="footer__contacto">
        hola@mamaq.pe
        delivery@mamaq.pe
        +51 989070874</div>
</footer>
<span class="header-movil"></span>
</main>
<script src="../public/js/main.js" type="module"></script>