    <header class="header">
        <section class="header__logo-container">
            <div class="header__img-container">
                <img class="header__img" src="../public/assets/logo-mamaq2.png" alt="logo Mamaq">
            </div>
            <h1 class="h1"><a class="a h1__a" href="#inicio">MAMAQ</a></h1>
        </section>
        <nav id="nav" class="nav">
            <a href="/" class="a nav__a">Inicio</a>
            <a href="#nosotros" class="a nav__a">Nosotros</a>
            <a href="#" class="a nav__a">La carta</a>
            <a href="/reservas" class="a nav__a">Reservas</a>
            <a href="#" class="a nav__a nav__a--img">
                <img class="nav__img" src="../public/assets/facebook.png" alt="">
            </a>
            <a href="#" class="a nav__a nav__a--img">
                <img class="img-nav" src="../public/assets/instagram.png" alt="">
            </a>
            <a href="#" class="a nav__a nav__a--img">
                <img class="img-nav" src="../public/assets/whatsapp.png" alt="">
            </a>
        </nav>
        <button id="menuBtn" class="nav__btn"></button>
    </header>