<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= tittle %>
    </title>
    <!-- ICONOS DE PESTAÑA -->
    <link rel="icon" href="https://mamaq.pe/wp-content/uploads/2019/04/logo-mamaq2.png" sizes="192x192">
    <link rel="icon" href="https://mamaq.pe/wp-content/uploads/2019/04/logo-mamaq2-100x100.png" sizes="32x32">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/generales.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/header_MQ.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
    <link rel="stylesheet" href="../../public/css/footer_MQ.css">
    <%- css %>
</head>

<body>
    <%- include('headerNav') %>